
body {
    cursor: url("img/cursor.png"), pointer;
    margin: 0;
    background-color: darkcyan;
}

a{
    text-decoration: none;
}

.pluie{
    position:fixed;
    min-height: 100vh;
    min-width: 100%;
    transition: opacity 25s;
    background-image: url(img/pluie.gif);
    opacity: 0;
}
.pluie:hover{
    opacity: 100;
}


.conteneur {
    min-height: 100vh;
    background-color: #1da759;
    margin: 0;
    background-image: url(img/herbe.png)
    ;
    padding: 2em;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
}

.maison {
    color : grey;
    /* background-color: brown; */
    margin: 1em;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mairie {
    background-image: url(img/mairie.png);
}

.eglise {
    background-image: url(img/eglise.png);
}

.eglise:hover {
    background-image: url(img/eglise_hover.png);
}

.boulangerie {
    background-image: url(img/boulangerie.png);
}

.boulangerie:hover {
    background-image: url(img/boulangerie_open.png);
}

.charcuterie {
    background-image: url(img/charcuterie.png);
}

.charcuterie:hover {
    background-image: url(img/charcuterie_open.png);
}

.ecole {
    background-image: url(img/ecole.png);
}

.ecole:hover {
    background-image: url(img/ecole_hover.png);
}

.champ {
    background-image: url(img/champ.png);
}

.champ:hover {
    background-image: url(img/champ_taupe.png);
}

.salledf {
    background-image: url(img/salledf.png);
}

.oiseau{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    background-size: 100% 100%;
    /* background-color: brown; */
    transition: justify-content 2s;

    position: relative;
}

.oiseau:hover{
    justify-content: end;
    /* background-color: coral; */

}

.bird{
    background-image: url("img/oiseau.gif");
    background-repeat: no-repeat;
    min-height: 50%;
    min-width: 100%;
    color:#1da759;
    /* background-color: blue; */

    position: absolute;
    left: 0;
    transition: left 2s, color 0s;
}

.bird:hover{
    /* background-color: yellow; */
    left: 100%;
    color: red;
}

